# Dev зависимости - включают все production зависимости
-r requirements.txt

# Для тестирования
pytest==7.4.4
pytest-cov==4.1.0

# Для форматирования и проверки кода
black==24.1.1
mypy==1.8.0
types-requests==2.31.0.20240125

